/* PAGE LAYOUT_START */

html, body {
    height: 100%;
    margin: 0;
    font-size: 20px;
}

#left {
    width: 30%;
    height: 100%;
    position: fixed;
    /*outline: 1px solid;*/
    /*background: #cdcdcd;*/
}

#right {
    background: #E5E5E5;
    width: 70%;
    overflow-x: hidden;
    height: 100%;
    /*outline: 1px solid;*/
    position: fixed;
    right: 0;
    display: grid;
    grid-template-columns: 1fr ;
    grid-template-rows: 10vh ;
}

/* PAGE LAYOUT_END */

/* PAGE CONTENT_START */
/* LEFT_START */

#info {
    position: absolute;
    top: 0px; width: 100%;
      }

h1 {
    position: fixed;
    left: 1%;
    color: #000;
    font-size: 4vh;
    font-family: 'Raleway', sans-serif;
    text-align: left;
    font-weight: 600;
    }
            
h2 {
    position: fixed;
    left: 1%;
    padding-right: 1.4em;
    top: 7%;
    color: #000;
    font-size: 1.5vh;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;  
    text-align: left;
    }

.inactive {
    color: #AEAFAF;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: fixed;
    top: 10.5%;
    text-align: left; 
    font-family: 'Raleway', sans-serif;
    left: 1%;
    width: 28%;
    height: 80vh;
}

.sidebar_project_title {
    margin-bottom: .1em;
    padding: .1em;
    /*background: #a30000;*/
    color: #000;
    font-size: 2.5vh;
    border-top: solid;
    border-top-width: thin;
    text-align: right;
    font-weight: 400;
    
}

.sidebar_title {
    position: relative;
    background: #000;
    color: #fff;
    font-size: 2.6vh;
    margin-bottom: .2em;
    padding: .1em;
    font-weight: 200;
    
}

.sidebar_text {
    font-size: 1.7vh;
    text-align: left;
    padding: .5em;
    margin-bottom: 8px;
    margin-top: 8px;
    border-bottom: dotted 1px;
    border-top: dotted 1px;
    overflow: auto;
    /*background: red;*/
    height: 24%;
    
}

.paperList{
    background: #fff;
    margin-left: 1vh;
    margin-bottom: 10px;
}

.paperList a:hover{
    font-weight: 400;
    padding-bottom: .2vh;
    border-bottom: 1px dotted;
    color: #000;
}

img {
    width: 100%;
    height: auto;
    border: none;
}

/* LEDT_END */

/* RIGHT_START */

.text {
  border-bottom: dotted 1px;
  margin: 1.5vh 1.5vh 1.5vh 1.5vh;
  display: flex;
  flex-direction: column;
  text-align: left;
  align-items: flex-start;
  justify-content: center ;
  font-size: 1.8vh;
  font-family: 'Raleway', sans-serif;
  background: rgba(0, 0, 0, 1);
  line-height: 4.2vh;
}

.text:last-child{
    border: none;
}

.citation{
    background: #E5E5E5;
    font-style: italic;
}
.abstract_title{
    background: #E5E5E5;
    font-weight: 600;
}
.abstract_text{
    background-color: #E5E5E5;
}
.link{
    background-color: #E5E5E5;
    font-size: 1.5vh;
}


/* LINKS */
/* unvisited link */
a{
    color: #000;
    font-weight: 400;
     text-decoration: none;
}

a:hover {
    font-weight: 600;
    padding-bottom: .2vh;
    border-bottom: 4px solid;
    color: #000;
}

#text2{
    display: none;
}
