body {
    background-color: #000000;
    margin: 0px;
    overflow: hidden;
            }

#info {
    position: absolute;
    top: 0px; width: 100%;
    text-align:center;
            }

h1 {
    position: fixed;
    left: 1%;
    color: #fff;
    font-size: 4vh;
    font-family: 'Raleway', sans-serif;
    text-align: left;
    font-weight: 600;
    }
            
h2 {
    position: fixed;
    left: 1%;
    top: 7%;
    color: #fff;
    font-size: 1.5vh;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;  
    text-align: left;
    }


.pano {
    position: fixed;
    bottom: 4em;
    width: 4%;
    opacity: .7;
    margin: 0 auto;
}

/* LINKS */
/* unvisited link */
a{
    color: #fff;
    font-weight: 400;
     text-decoration: none;
}
/* visited link */
/*a:visited {
    color: black;
}*/

/* mouse over link */
a:hover {
    font-weight: 600;
    padding-bottom: .2vh;
    border-bottom: 4px solid;
    color: #fff;
}

/* selected link */
/*a:active {
    color: black;
    font-weight: 400
}*/